<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="icon" href="../images/logo.png" type="image/icon type" />
    <title>My shop</title>
  </head>
  <body>
    <header>
      <!-- hamburguer -->
      <button id="Hamburger"><i class="fa fa-home"></i></button>
      <!-- search and menu -->
      <div class="search">
        <!-- search -->
        <button>
          <i class="fa fa-search"></i>
        </button>
        <input placeholder="Search in Sample Shop" />
      </div>
    </header>
    <!-- body -->
    <!-- carrusel -->
    <section id="Carousel">
      <input type="radio" id="radio-ad-1" name="ads" checked />
      <input type="radio" id="radio-ad-2" name="ads" />
      <input type="radio" id="radio-ad-3" name="ads" />
      <div id="ad-1">
        <h4>Going swiming?</h4>
        <h6>Don't forget to buy the latest in swimsuits now!</h6>
        <!-- <img src="../images/beach.png" alt="Add 1" /> -->
        <button>
          Take me to the latest swimsuits
          <i class="fa fa-arrow-circle-right"></i>
        </button>
      </div>
      <div id="ad-2">
        <h4>Beach, sweet beach</h4>
        <h6>Check out the latest products for the beach</h6>
        <img src="../images/beach-ball.png" alt="Add 2" />
        <button>Show me more <i class="fa fa-arrow-right"></i></button>
      </div>
      <div id="ad-3">
        <h4>Do you want to build a snowman?</h4>
        <h6>
          We do! That's why we are always prepared with our winter clothes...
          Are you?
        </h6>
        <button>
          Get prepared here! <i class="fa fa-chevron-circle-right"></i>
        </button>
        <div>
          <img src="../images/snowman.png" alt="Add 2" />
        </div>
      </div>
    </section>
    <div>
      <section id="Products">
        <p class="section-header">
          <label>WINTER PRODUCTS</label>
        </p>
        <!-- NEW PRODUCTS items -->
        <div class="items-container">
          <article class="new-products-item">
            <button>
              <div>
                <img src="../images/products/raincoat.png" alt="raincoat" />
              </div>
              <p>Raincoat</p>
              <p>$130</p>
            </button>
          </article>
          <article class="new-products-item">
            <button>
              <div>
                <img src="../images/products/umbrella.png" alt="Category 1" />
              </div>
              <p>Umbrella</p>
              <p>$80</p>
            </button>
          </article>
          <article class="new-products-item">
            <button>
              <div>
                <img src="../images/products/sweater.png" alt="Category 1" />
              </div>
              <p>Sweater</p>
              <p>$70</p>
            </button>
          </article>
          <article class="new-products-item">
            <button>
              <div>
                <img src="../images/products/winter-hat.png" alt="Category 1" />
              </div>
              <p>Winter hat</p>
              <p>$40</p>
            </button>
          </article>
          <article class="new-products-item">
            <button>
              <div>
                <img src="../images/products/rain-boots.png" alt="Category 1" />
              </div>
              <p>Rain boots</p>
              <p>$90</p>
            </button>
          </article>
        </div>
      </section>
    </div>
    <footer>
      <img src="../images/facebook-logo.png" alt="facebook" />
      <img src="../images/twitter-logo.png" alt="twitter" />
      <img src="../images/instagram-logo-2.png" alt="instagram" />
      <img src="../images/whatsapp-logo.png" alt="whatsapp" />
    </footer>
    <script src="../scripts/caregories.js"></script>
  </body>
</html>
