header {
  display: flex;
  position: sticky;
  top: 0px;
  width: -webkit-fill-available;
  padding: 5px;
  background-color: #684889;
}

.search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: inherit;
}

footer {
  position: inherit;
  bottom: 0px;
  width: inherit;
  background-color: #684889;
}

body {
  margin: 0;
  width: 100%;
  background-color: snow;
  color: white;
  font-family: verdana;
}

input {
  background-color: #be4583;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 0.8em;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.694);
}

button {
  background-color: #be4583;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8em;
}

button:hover {
  background-color: #fe2360;
}

.section-title {
  font-size: xx-large;
}

#Carousel button {
  background-color: #fbd346;
  color: black;
}

#Carousel button:hover {
  background-color: #fe9a69;
}

#ad-1,
#ad-2,
#ad-3 {
  display: none;
  border-radius: 10px;
  height: 300px;
  padding: 10px;
  margin: 20px;
}

input[id="radio-ad-1"]:checked ~ #ad-1 {
  display: block;
  background-color: #353770;
  background-image: url("../images/ocean.png");
  background-repeat: no-repeat;
  background-size: 100% 300px;
  background-position: bottom;
}
input[id="radio-ad-2"]:checked ~ #ad-2 {
  display: block;
  background-color: #991e86;
  background-image: url("../images/sand.png");
  color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
input[id="radio-ad-3"]:checked ~ #ad-3 {
  display: block;
  background-color: lightblue;
  background-image: url("../images/snow.png");
  color: black;
  overflow: hidden;
}

#ad-3 div {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.section-header {
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
  padding: 40px;
}

.items-container {
  display: flex;
  justify-content: space-around;
}

#Products .items-container {
  flex-wrap: wrap;
}

#Categories,
#Products {
  margin: 0 20px 0 20px;
  background-color: #353770;
  border-radius: 10px 10px 0 0;
}

.categories-item {
  width: 33%;
  margin: 10px;
}

.categories-item img {
  width: 100%;
}

.new-products-item {
  margin: 10px 50px;
}

.new-products-item button {
  height: 100%;
  width: 170px;
}

.new-products-item div {
  width: 100%;
  height: 75%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
